body {
  overflow-y: hidden;
}

.container .todo-container {
  position: absolute;
  right: 50%;
  left: 50%;
  z-index: 10;
}

.abs {
  position: absolute;
  right: 25%;
  top: 5rem;
  z-index: 10;
}
