.collapse {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.show {
  display: block;
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
}
